body{
    padding: 100px;
}
.login-area{
    margin-top: 50px;
    box-shadow: 5px 5px 20px rgb(129, 126, 126);
    padding: 30px;
    border-radius: 12px;
}
#transaction-area{
    display: none;
}
.coloum-style{
    margin: 0 20px;
    padding: 30px;
    color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 10px dimgray;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.amount{
    background-color: orange;
}